

body {
    background-color:rgb(199, 196, 188);
    color:#361500;
    font-size:larger;
    font-weight:500;
    font-style: italic;
   
}

/******************link**************/

a:link, a:visited, a:hover{
    color: #AD8B73;

}

a {
    text-decoration: none;
    
}
/***********************************/
.logo {
    margin: auto;
    text-align:left;
    margin-bottom: -200px;
    margin-left: 200px;
    
}


nav {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-family:monospace;
    color:rgb(199, 196, 188) ;
    background-color: #361500;
    margin-top: 87px;
    font-style: italic;
    font-weight: 300;
    padding:14px;
    
   
    
    
}


section {
    margin-left: 440px;
    margin-right: 300px;
    margin-top: 20px;
    
}


.logo2{
   margin-top: -35px;
}

h1{
    font-size: 14px;

}

footer {
    background-color: #361500;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    color: #AD8B73;
    
}

